@supports (display: grid) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .item {
        width: auto !important;
        margin: 0 !important;
    }
}

@supports not (display: grid) {
    .container {
        display: block;
    }

    .item {
        display: inline-block;
        width: 22.3vw;
        float: left;
        margin: 5px;
    }
}

.item {
    display: inline-block;
    width: 280px;
    width: 23%;
    float: left;
    margin: 8px;
}

@media (max-width: 784px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow: scroll;
        max-width: 660px;
        max-width: 90vw;
        overflow-y: hidden;
    }

    .item {
        flex: 0 0 auto;
        margin-right: 32px;
        margin-bottom: 16px;
    }

    .clicked {
        margin: 0 auto !important;
        left: 0;
        right: 0;
    }

    .clickedKey {
        display: inline-block;
        margin: 0 auto !important;
    }

    .clickedKey label {
        margin: 0 auto !important;
        left: 0;
        right: 0;
    }
}

@media (min-width: 480px) and (max-width: 784px) {}

@media (min-width: 784px) {
    .clickedKey {
        grid-column: 2/4;
    }

    .clicked {
        grid-column: 2/4;
    }
}