.hidden{
    display: none;
}

.show{
    display: block;
}

nav ul li a:hover {
    opacity: 0.75;
    transform: scale(0.95);
    transition: 0.5s;
}

nav ul li a:focus {
    opacity: 0.75;
    transform: scale(0.95);
    transition: 0.5s;
}

form label:before {
    content: " ";
    border-radius: 50%;
    padding: 0.4em 0.8em;
    text-align: center;
    line-height: 2.5em;
    transition-duration: 0.4s;
    transform: scale(0);
    position: relative;
    margin-left: 0.5em;
    margin-top: 1em;
    z-index: 100;
    top: 1em;
}

form :checked+label:before {
    content: "✓";
    color: #000;
    background-color: #21dcc9;
    transform: scale(1);
    transition: 0.5s;
}

.clicked{
    animation: transformer 0.5s;
}

.clicked:before {
    animation: transformer  ease-in 0s 1;
    content: "✓";
    color: #000;
    background-color: #21dcc9;
    animation: transformer 0.5s;
}

.clicked .tosti-img{
    cursor: default;
}

.clicked .tosti-img img{
    opacity: 0.5;
}

.clicked .tosti-img p {
    color: black;
}

.tosti-img:hover p {
    color: black;
    transition: 1s;
}

form input:focus + label .tosti-img p {
    color: black;
    transition: 1s;
}

.tosti-img:hover img {
    opacity: 0.5;
    transition: 0.5s;
}

form input:focus + label .tosti-img img {
    opacity: 0.6;
    transition: 0.5s;
}

.start-btn:hover {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.5s;
}

.form-btn:hover {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.5s;
}

.mail-btn:hover{
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.5s;
}

.mail-btn:focus{
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.5s;
}

.start-btn:focus {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.5s;
}

.form-btn:focus {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.5s;
}

.bread:hover {
    animation: bread 1s steps(7);
}

.container .clicked:before{
    opacity: 0;
}

@media (max-width: 30em) {

    .tosti-img:hover img {
        opacity: 0.5;
    }
}