/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FAFBFC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7E7E7E;
    transition: 0.5s;
}

.bread {
    width: 192px;
    height: 240px;
    background-image: url(../bread.svg);
    background-repeat: no-repeat;
    background-size: 1200%;
    margin: 0 auto;
}

.paper {
    padding-left: 48px;
    margin-top: 32px;
    height: 400px;
    height: 80vh;
    background-color: #fff;
    background: linear-gradient(90deg, transparent 39px, #abced4 39px, #abced4 41px, transparent 41px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 24px;
}

.paper-list {
    padding-left: 48px;
    margin-top: 32px;
    height: 200px;
    height: 40vh;
    background-color: #fff;
    background: linear-gradient(90deg, transparent 39px, #abced4 39px, #abced4 41px, transparent 41px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 24px;
}