<% include ../partials/head.ejs %>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
        <article>
            <h1> Maak jouw boodschappenlijstje voor de ultieme tosti!</h1>
            <div class="bread-container">
                <div class="bread"></div>
            </div>
            <a class="start-btn" href="start">Start</a>
        </article>
    </main>
    <% include ../partials/footer.ejs %>